.search {
  margin-top: 20px;
}
.search .tooltip {
  padding: 10px 0;
}
.search .tooltip .dot {
  display: inline-block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
